.ChessBoard {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Board {
  background-color: black;
  table-layout: fixed;
}

.Cell {
  background-color: white;
}

.Cell img {
  object-fit: contain;
}
