.ControlPanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.PanelBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  padding: 5px;
}

.PanelBlock button {
  margin: 3%;
  width: fit-content;
  white-space: nowrap;
}

.PanelBlock label {
  width: 100%;
}

.PanelBlock select {
  margin: 3%;
  width: 40%;
}

.PanelBlock p {
  margin: 3%;
}
